:root {
  --scrollbar-thumb: #f0e14a;
  --scrollbar-track: #44281d;
}

*::-webkit-scrollbar {
  width: 0.6875rem;
}
*::-webkit-scrollbar-track {
  border-radius: 0.9375rem;
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.9375rem;
  background: var(--scrollbar-thumb);
}

@font-face {
  font-family: 'Schwifty';
  src: url('../assets/get_schwifty.ttf');
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  color: #44281d;
  font-family: 'Schwifty', sans-serif;
  background-color: #97ce4c;
  background-image: linear-gradient(180deg, #97ce4c, #e89ac7);
}

button {
  font-family: 'Schwifty', sans-serif;
  width: 80px;
  height: 30px;
  color: #44281d;
  margin-bottom: 40px;
  border: 3px solid  #44281d;
  background-color: #f0e14a;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

p {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
#44281d	(68,40,29) - Brown
#e4a788	(228,167,136) - Peach
#f0e14a	(240,225,74) - Yellow
#97ce4c	(151,206,76) - Green
#e89ac7	(232,154,199) - Pink 
*/
